<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product  Id="E4398CF4-530B-403C-A69B-0D9B67F9C8FA" 
            Name="SetupProject2" 
            Language="1033" 
            Version="1.0.0.0" 
            Manufacturer="WiXInstaller" 
            UpgradeCode="5c2e5e28-6379-447b-8905-9b54ee345d78">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="SetupProject2" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="SetupProject2" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Source="$(var.DocRename.TargetPath)" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
